body {
   font-family: "Audiowide", sans-serif;
   margin: 0;
   background: linear-gradient(0deg, blue, yellow, blue);
}
a {
    color: black;
    text-decoration: none
}
header {
    display: flex;
    justify-content: space-between;
    
    align-items: self-end;
    padding: 10px;
}

.logo {
    display: flex;
}

.logo img {
    height: 100px;
}

.titulo {
    display: flex;
    min-height: 70px;
} 

.titulo:hover, .titulo:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
          
}

nav a{
   font-weight: 600;
   padding: 10px;
   color: white;
}

nav a:hover {
    color: white;
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }

    nav{
        padding: 10px 0px;
    }
}


#FormContacto {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  }
  
  #FormContacto label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  #FormContacto input,
  #FormContacto textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  #FormContacto button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #FormContacto button[type="submit"]:hover {
    background-color: #45a049;
  }
  
  #resultado {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    color: white;
  }
  
  #resultado.success {
    background-color: #4CAF50;
  }
  
  #resultado.error {
    background-color: #f44336;
  }

  